#pagetxt{
  position: absolute;
  top:50%; transform: translateY(-50%);
  right: 10%;
  width: 55%;
}
#pagetxt p{
  color:white;
  font-size: 32px;
  
}
#pageimg{
  width: 420px;
  height: auto;
  position: absolute;
  bottom: 114px;
}